/ejercicio_extras2_02/nbproject/private/
/ejercicio_extras2_02/build/
/ejercicio_extras2_03/nbproject/private/
/ejercicio_extras2_03/build/
/ejercicio_extras2_04/nbproject/private/
/ejercicio_extras2_04/build/
/ejercicio_extras2_05/nbproject/private/
/ejercicio_extras2_05/build/
/ejercicio_extras2_05/dist/
/ejercicio_extras2_06/nbproject/private/
/ejercicio_extras2_06/build/
/ejercicio_extras2_07/nbproject/private/
/ejercicio_extras2_07/build/